{% extends 'core/base.html' %}
{%block title %}Log in{%endblock%}
{% block content%}
<div class=" content-center w-1/2 my-6 mx-auto bg-gray-100 rounded-xl p-6 ">
    <h1 class="mb-6 text-3xl">Log in</h1>
    <form method="POST">

        {% csrf_token %}
        <!-- {{form.as_p}} this use to show registeration forms use for check -->
        <!-- {{form.non_field_errors}} -->
        <div class="mb-3 content-center ">
            <label class="inline-block mb-2">Username</label><br>
            {{form.username}}
            <div class="mb-3">
                <label class="inline-block mb-2">Password</label><br>
                {{form.password}}
            </div>
            {{form.password2}}
            {% if form.errors or form.non_field_errors %}
                {% for field in form%}
                    {{field.errors}}
                {%endfor%}
            {% endif %}
            {{form.non_field_errors}}


            <button type="submit" class="py-4 px-8 text-lg bg-teal-700 rounded-xl text-white"> Submit</button>
    </form>
</div>
{%endblock%}