{% extends 'core/base.html' %}
{%block title %}Items{%endblock%}
{% block content%}
<div class="p-6 grid grid-cols-4 gap-4 bg-gray-100 rounded-xl">
    <div class="col-span-1">
        <form action="." method="get">
            <input type="text" name="query" class="w-full py-4 px-4 rounded-xl" value="{{query}}"
                placeholder="find a bike, car, any thing..... ">
            <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>

        </form>
        <hr class="my-6">
        <p class="font-semibold">Categories</p>
        <ul>
            {% for cat in categories %}
            <li class="py-2 px-2 rounded-xl{%if cat.id == cat_id%} bg-gray-200{%endif%}">
                <a href="{% url 'items'  %}?query={{query}}&category={{cat.id}}">{{cat.name}}</a>

            </li>

            {%endfor%}
        </ul>
        <hr class="my-6">
        <p class="font-semibold">Clear Filter</p>
        <ul>
            <li><a href="{%url 'items'%}" class="mt-2 px-4 py-2 inline-block bg-yellow-300 rounded-xl hover:bg-yellow-500 text-white">Clear</a></li>
        </ul>

    </div>
    <div class="col-span-3">
        <div class="grid grid-cols-3 gap-3">
            <!-- <img src="{{item.image.url}}"  class="rounded-t-xl"> -->
            {% for item in items %}
            <div class="">
                <a href="{% url 'detail' item.id %}">
                    <center>
                        <div class="">
                            <!-- # justify-fit -->
                            <img src="{{item.image.url}}" class="rounded-xl w-full h-60 ">
                        </div>
                    </center>
                    <div class="p-6 bg-gray-200 rounded-xl mt-2">
                        <h2 class="text-2xl">
                            {{item.name}}
                        </h2>
                        <p class="text-gray-500">
                            price: {{item.price}}
                        </p>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}